/target/

.classpath
.factorypath
.project

/.ebextensions/
/src/login/firebase.js
/src/main/resources/spring-firebase-test-firebase-adminsdk-ql2kg-95106115e4.json
/src/.vs/
/node/
/node_modules/
/.mvn/
/.settings/
/.vscode/
mvnw
mvnw.cmd
yarn.lock
yarn-error.log
/src/incons/symbol.png
/build/